<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.zabricraft.delta">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="delta-math-helper.com"
                    android:pathPrefix="/algorithm/" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.delta-math-helper.com"
                    android:pathPrefix="/algorithm/" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AlgorithmActivity" />
        <activity android:name=".activities.EditorActivity" />
        <activity android:name=".activities.ActionSelectionActivity" />
        <activity android:name=".activities.CloudHomeActivity" />
        <activity android:name=".activities.CloudDetailsActivity" />
        <activity android:name=".activities.QuizActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.AccountActivity" />
        <activity android:name=".activities.IconEditorActivity" />
        <activity android:name=".activities.CloudSettingsActivity" />
    </application>

</manifest>